<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>xml解析</title>
</head>

<body>
<div style="display: none;">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</div>
<form name="form1" method="post" action="/show">
  <input type="text" name="xmlSrc" id="xmlSrc">
  <input type="submit" name="button" id="button" value="提交">
</form>
</body>
</html>
